.houseLocationTable th,
.houseLocationTable td {
  padding: 1em;
}

.houseLocationTable th {
  font-weight: bold;
  text-align: center;
  background-color: #ebebeb;
}

.houseLocationTable td {
  font-weight: bold;
  text-align: center;
  background-color: #f5f5f5;
}
