.container {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr;
  grid-template-rows: 0.3fr 2.1fr 0.6fr;
  gap: 15px 47px;
  grid-template-areas:
    "filterOptions filterOptions"
    "descriptionCard imageGalery"
    "matchOption imageGalery";
}
.filterOptions {
  grid-area: filterOptions;
}
.imageGalery {
  grid-area: imageGalery;
}
.matchOption {
  grid-area: matchOption;
}
.descriptionCard {
  grid-area: descriptionCard;
}
